@import "tailwindcss";

@keyframes strobeFlash {
  0% {
    opacity: 0.15;
    filter: brightness(1);
  }
  50% {
    opacity: 0.85;
    filter: brightness(2);
  }
  100% {
    opacity: 0.2;
    filter: brightness(1.2);
  }
}
